<ion-content padding>
    <div class="wrapper">
      <div class="section" padding>
        <div class="setup-button" text-center padding tappable routerLink="/setup-timer">
          <div class="setup-icon">
            <ion-icon name="tablet-landscape"></ion-icon>
          </div>
          <div class="button-text">
            Start as display
          </div>
        </div>
      </div>
      <div class="section" padding>
      <div class="setup-button" text-center padding tappable routerLink="/setup-remote">
          <div class="setup-icon">
            <ion-icon name="logo-game-controller-a"></ion-icon>
          </div>
          <div class="button-text">
            Start as controller
          </div>
        </div>
      </div>
    </div>
</ion-content>
