<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
      <ion-button color="primary" (click)="close()">Close</ion-button>
    </ion-buttons>
    <ion-title>Developer Tools</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="tab === 'log'" padding>
  <h4>Debug Log</h4>
  <ion-button color="primary" (click)="clear()">Clear Log</ion-button>
  <div style="padding: 16px 0; border-top: 1px solid #cccccc" *ngFor="let log of logger.logs">
    <strong>{{ timeFormat(log.time) }}</strong>
    <textarea [rows]="rowsCount(dataFormat(log.data))" style="width: 100%">{{ dataFormat(log.data) }}</textarea>
  </div>
</ion-content>

<ion-content *ngIf="tab === 'api'" padding>
  <form novalidate>
    <ion-item>
      <ion-label position="stacked">Path</ion-label>
      <ion-input name="path" [(ngModel)]="apiPath" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">payload</ion-label>
      <ion-textarea name="payload" [(ngModel)]="apiPayload" rows="10" required></ion-textarea>
    </ion-item>

    <ion-button type="submit" (click)="onAPISubmit()">Submit</ion-button>
  </form>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom" [selectedTab]="tab">
    <ion-tab-button tab="api" (click)="tabClicked('api')">
      <ion-icon name="construct"></ion-icon>
      <ion-label>API</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="log" (click)="tabClicked('log')">
      <ion-icon name="bug"></ion-icon>
      <ion-label>Log</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>