<ion-content padding>
    <div class="wrapper" *ngIf="stateLoaded">
        <div class="section" padding>
          <div class="error" *ngIf="errors.length">
            <ul>
              <li *ngFor="let error of errors">{{ error }}</li>
            </ul>
          </div>

          <div>
            <p>
              <strong>Connect this device as the remote.</strong>
            </p>
      
            <ol>
              <li>Connect to WIFI</li>
              <li>Connect to Display</li>
              <li>Use Remote</li>
              <li>Shut Down</li>
            </ol>
      
            <ion-button (click)="detailsModal()">
              <ion-icon name="information-circle-outline"></ion-icon>
              Detailed Instructions
            </ion-button>
          </div>
        </div>
    
        <div class="section" padding>   
            <div
              *ngIf="!deviceConnectionService.serverStarted"
              class="setup-button"
              text-center
              padding
              tappable
              (click)="scan()"
            >
              <div class="setup-icon">
                  <ion-icon name="qr-scanner"></ion-icon>
              </div>
    
              <div class="button-text">
                Scan Code
              </div>
            </div>
    
            <div
              *ngIf="!deviceConnectionService.serverStarted"
              class="setup-button danger"
              text-center
              padding
              tappable
              (click)="reset()"
            >
              <div class="setup-icon">
                  <ion-icon name="close"></ion-icon>
              </div>
    
              <div class="button-text">
                Cancel
              </div>
            </div>
    
            <div
              *ngIf="deviceConnectionService.serverStarted"
              class="setup-button danger"
              text-center
              padding
              tappable
              (click)="stopServer()"
            >
              <div class="setup-icon">
                  <ion-icon name="close"></ion-icon>
              </div>
    
              <div class="button-text">
                Disconnect
              </div>
            </div>
        </div>
      </div>
  </ion-content>
  